m2t-2025-08-08/LIB_1-0/encoding/xml-schema/lib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   PLEASE DO NOT EDIT THIS CODE!
   This code was generated by the Eclipse Acceleo module UCMIS M2T on 2025-08-08 20:57:13.
   Target language is 'XML Schema' ('xsd') generated on the basis of the model 'LibraryDomainModel'.
-->
<!--

XML Schema generated on the basis of the UML model LIB.

Acronym:       LIB 
Title:         UCMIS Example: Library Domain Model
Subtitle:      
Major version: 1
Minor version: 0
URI:           https://www.uml-diagrams.org/library-domain-uml-class-diagram-example.html

-->
<xs:schema xmlns="http://library/XMLSchema/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           targetNamespace="http://library/XMLSchema/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0"
           vc:minVersion="1.1">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
             schemaLocation="xml.xsd"/>
  <xs:group name="AllElementsDerivedFromClasses">
    <xs:annotation>
      <xs:documentation>This group comprehends all elements which are based on classes in the UML model.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="1"
                 maxOccurs="unbounded">
        <xs:element ref="Account" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Author" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Book" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="BookItem" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Catalog" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Library" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Patron" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="LibraryDomainModel"
              type="LibraryDomainModelXsdType"
              xml:id="LibraryDomainModel">
    <xs:annotation>
      <xs:documentation>Library Domain Model
            ====================
            
            The Library Domain Model is an example for using UCMIS.
            
            See: https://bitbucket.org/ddi-alliance/ucmis/</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LibraryDomainModelXsdType"
                  xml:id="LibraryDomainModelXsdType">
    <xs:annotation>
      <xs:documentation>Library Domain Model
            ====================
            
            The Library Domain Model is an example for using UCMIS.
            
            See: https://bitbucket.org/ddi-alliance/ucmis/</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="AllElementsDerivedFromClasses"
                minOccurs="1"
                maxOccurs="1">
      </xs:group>
      <xs:element ref="Wrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Account"
              type="AccountXsdType"
              xml:id="Account">
    <!-- based on the UML class LibraryDomainModel::Classes::Account -->
    <xs:annotation>
      <xs:documentation>Library user account.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AccountXsdType"
                  xml:id="AccountXsdType">
    <xs:annotation>
      <xs:documentation>Library user account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number"
                  type="xs:integer"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Account-number">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="openingDate"
                  type="DateXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Account-openingDate">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="state"
                  type="AccountStateXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Account-state">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Account_accounts_Library"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Account_accounts_Library">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="AssociationReferenceXsdType">
              <xs:sequence>
                <xs:element name="ddiReference"
                            type="InternationalRegistrationDataIdentifierXsdType"
                            minOccurs="0"
                            maxOccurs="1"
                            xml:id="Account_accounts_Library-ddiReference"/>
                <xs:element name="validType"
                            minOccurs="1"
                            maxOccurs="unbounded"
                            xml:id="Account_accounts_Library-validType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Library"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Account_borrowed_BookItem"
                  minOccurs="0"
                  maxOccurs="12"
                  xml:id="Account_borrowed_BookItem">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="AssociationReferenceXsdType">
              <xs:sequence>
                <xs:element name="ddiReference"
                            type="InternationalRegistrationDataIdentifierXsdType"
                            minOccurs="0"
                            maxOccurs="1"
                            xml:id="Account_borrowed_BookItem-ddiReference"/>
                <xs:element name="validType"
                            minOccurs="1"
                            maxOccurs="1"
                            xml:id="Account_borrowed_BookItem-validType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="BookItem"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Account_account_Patron"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Account_account_Patron">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="AssociationReferenceXsdType">
              <xs:sequence>
                <xs:element name="ddiReference"
                            type="InternationalRegistrationDataIdentifierXsdType"
                            minOccurs="0"
                            maxOccurs="1"
                            xml:id="Account_account_Patron-ddiReference"/>
                <xs:element name="validType"
                            minOccurs="1"
                            maxOccurs="1"
                            xml:id="Account_account_Patron-validType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Patron"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author"
              type="AuthorXsdType"
              xml:id="Author">
    <!-- based on the UML class LibraryDomainModel::Classes::Author -->
    <xs:annotation>
      <xs:documentation>Author of a book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AuthorXsdType"
                  xml:id="AuthorXsdType">
    <xs:annotation>
      <xs:documentation>Author of a book.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="birthYear"
                  type="xs:integer"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Author-birthYear">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name"
                  type="FullNameXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Author-name">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Author_wrote_Book"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  xml:id="Author_wrote_Book">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="AssociationReferenceXsdType">
              <xs:sequence>
                <xs:element name="ddiReference"
                            type="InternationalRegistrationDataIdentifierXsdType"
                            minOccurs="0"
                            maxOccurs="1"
                            xml:id="Author_wrote_Book-ddiReference"/>
                <xs:element name="validType"
                            minOccurs="1"
                            maxOccurs="unbounded"
                            xml:id="Author_wrote_Book-validType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Book"/>
                      <xs:enumeration value="BookItem"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book"
              type="BookXsdType"
              xml:id="Book">
    <!-- based on the UML class LibraryDomainModel::Classes::Book -->
    <xs:annotation>
      <xs:documentation>Description of a book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BookXsdType"
                  xml:id="BookXsdType">
    <xs:annotation>
      <xs:documentation>Description of a book.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isbn"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1"
                  xml:id="Book-isbn">
        <xs:annotation>
          <xs:documentation>ISBN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language"
                  type="LanguageXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Book-language">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationYear"
                  type="xs:integer"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Book-publicationYear">
        <xs:annotation>
          <xs:documentation>Year of publication</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Book-publisher">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subject"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Book-subject">
        <xs:annotation>
          <xs:documentation>Book subjects</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Book-title">
        <xs:annotation>
          <xs:documentation>Book title</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookItem"
              type="BookItemXsdType"
              xml:id="BookItem">
    <!-- based on the UML class LibraryDomainModel::Classes::BookItem -->
    <xs:annotation>
      <xs:documentation>Book item in the library.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BookItemXsdType"
                  xml:id="BookItemXsdType">
    <xs:annotation>
      <xs:documentation>Book item in the library.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BookXsdType">
        <xs:sequence>
          <xs:element name="barcode"
                      type="xs:string"
                      minOccurs="0"
                      maxOccurs="1"
                      xml:id="BookItem-barcode">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="borrowed"
                      type="xs:integer"
                      minOccurs="1"
                      maxOccurs="1"
                      xml:id="BookItem-borrowed">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="format"
                      type="FormatXsdType"
                      minOccurs="1"
                      maxOccurs="1"
                      xml:id="BookItem-format">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Catalog"
              type="CatalogXsdType"
              xml:id="Catalog">
    <!-- based on the UML class LibraryDomainModel::Classes::Catalog -->
    <xs:annotation>
      <xs:documentation>Book item catalog.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CatalogXsdType"
                  xml:id="CatalogXsdType">
    <xs:annotation>
      <xs:documentation>Book item catalog.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Catalog_catalogues_Library"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Catalog_catalogues_Library">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="AssociationReferenceXsdType">
              <xs:sequence>
                <xs:element name="ddiReference"
                            type="InternationalRegistrationDataIdentifierXsdType"
                            minOccurs="0"
                            maxOccurs="1"
                            xml:id="Catalog_catalogues_Library-ddiReference"/>
                <xs:element name="validType"
                            minOccurs="1"
                            maxOccurs="1"
                            xml:id="Catalog_catalogues_Library-validType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="Library"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Catalog_records_BookItem"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  xml:id="Catalog_records_BookItem">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:restriction base="AssociationReferenceXsdType">
              <xs:sequence>
                <xs:element name="ddiReference"
                            type="InternationalRegistrationDataIdentifierXsdType"
                            minOccurs="0"
                            maxOccurs="1"
                            xml:id="Catalog_records_BookItem-ddiReference"/>
                <xs:element name="validType"
                            minOccurs="1"
                            maxOccurs="1"
                            xml:id="Catalog_records_BookItem-validType">
                  <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                      <xs:enumeration value="BookItem"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:restriction>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Library"
              type="LibraryXsdType"
              xml:id="Library">
    <!-- based on the UML class LibraryDomainModel::Classes::Library -->
    <xs:annotation>
      <xs:documentation>Book library.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LibraryXsdType"
                  xml:id="LibraryXsdType">
    <xs:annotation>
      <xs:documentation>Book library.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="address"
                  type="AddressXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Library-address">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Library-name">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patron"
              type="PatronXsdType"
              xml:id="Patron">
    <!-- based on the UML class LibraryDomainModel::Classes::Patron -->
    <xs:annotation>
      <xs:documentation>Library user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PatronXsdType"
                  xml:id="PatronXsdType">
    <xs:annotation>
      <xs:documentation>Library user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="address"
                  type="AddressXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Patron-address">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name"
                  type="FullNameXsdType"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Patron-name">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AccountStateXsdType"
                 xml:id="AccountStateXsdType">
    <!-- based on the UML enumeration LibraryDomainModel::DataTypes::Enumerations::AccountState -->
    <xs:annotation>
      <xs:documentation>State of a user account.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Closed">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Frozen">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FormatXsdType"
                 xml:id="FormatXsdType">
    <!-- based on the UML enumeration LibraryDomainModel::DataTypes::Enumerations::Format -->
    <xs:annotation>
      <xs:documentation>Book item format.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Audiobook">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AudioCD">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hardcover">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MP3CD">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paperback">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LanguageXsdType"
                 xml:id="LanguageXsdType">
    <!-- based on the UML enumeration LibraryDomainModel::DataTypes::Enumerations::Language -->
    <xs:annotation>
      <xs:documentation>Available languages.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="English">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="French">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="German">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Italian">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Spanish">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Address"
              type="AddressXsdType"
              xml:id="Address">
    <!-- based on the UML data type LibraryDomainModel::DataTypes::StructuredDataTypes::Address -->
    <xs:annotation>
      <xs:documentation>Generic address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AddressXsdType"
                  xml:id="AddressXsdType">
    <xs:annotation>
      <xs:documentation>Generic address.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="City"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Address-City">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Address-Country">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Street"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Address-Street">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetNumber"
                  type="xs:integer"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Address-StreetNumber">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZIPCode"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="Address-ZIPCode">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Date"
              type="DateXsdType"
              xml:id="Date">
    <!-- based on the UML data type LibraryDomainModel::DataTypes::StructuredDataTypes::Date -->
    <xs:annotation>
      <xs:documentation>Usual date details.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DateXsdType"
                  xml:id="DateXsdType">
    <xs:annotation>
      <xs:documentation>Usual date details.</xs:documentation>
    </xs:annotation>
    
  </xs:complexType>

  <xs:element name="FullName"
              type="FullNameXsdType"
              xml:id="FullName">
    <!-- based on the UML data type LibraryDomainModel::DataTypes::StructuredDataTypes::FullName -->
    <xs:annotation>
      <xs:documentation>Full name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FullNameXsdType"
                  xml:id="FullNameXsdType">
    <xs:annotation>
      <xs:documentation>Full name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstName"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="FullName-firstName">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastName"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="FullName-lastName">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="middleName"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="FullName-middleName">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ModelIdentification"
              type="ModelIdentificationXsdType"
              xml:id="ModelIdentification">
    <!-- based on the UML data type LibraryDomainModel::DataTypes::ModelIdentification -->
    <xs:annotation>
      <xs:documentation>Attributes for the model identification with constant values.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ModelIdentificationXsdType"
                  xml:id="ModelIdentificationXsdType">
    <xs:annotation>
      <xs:documentation>Attributes for the model identification with constant values.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="acronym"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="ModelIdentification-acronym">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="ModelIdentification-language">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="majorVersion"
                  type="xs:integer"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="ModelIdentification-majorVersion">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minorVersion"
                  type="xs:integer"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="ModelIdentification-minorVersion">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="ModelIdentification-title">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uri"
                  type="xs:string"
                  minOccurs="1"
                  maxOccurs="1"
                  xml:id="ModelIdentification-uri">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
